<!DOCTYPE html>
<html lang="eng-GB">
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
  <!-- <link rel="stylesheet" href="/reset.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>
  <h1>CodeClan Pizza Shop</h1>
  <nav>
    <div id="constant_nav">
      <ul>
        <li> <a href="/pizzas">View All Orders</a> </li>
        <li> <a href="/pizzas/new">Create an Order</a> </li>
      </ul>
    </div>
  </nav>
  <main>
  <%= yield %>
  </main>
  <footer>This site and all pizzas featured are property of CCPS Ltd</footer>
</body>
</html>
