<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>
  <h1>CodeClan Pizza Shop</h1>
  <nav>
    <ul>
      <li> <a href="/pizzas">View All Orders</a> </li>
      <li> <a href="/pizzas/new">Create an Order</a> </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
