body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(230, 233, 65);
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: solid;
  border-color: rgb(49, 69, 57)
}

td {
  padding: 5px;
}

.mid {
  border-right: dotted;
  border-left: dotted;
  border-width: thin;
}

nav {
  border: solid 5px ;
  background: rgba(230, 158, 36, 0.77);
}
